body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 18pt;
    margin: 0 0 10pt 0;
}

h2 {
    font-size: 14pt;
    font-weight: 900;
    color: rgb(80, 80, 80);
    margin: 10pt 0;
}

.grid1 {
    display: grid;
    grid-template-columns: 70% auto;
    /* justify-items: stretch;
    align-items: stretch;
    justify-content: stretch; */
}

.grid2 {
    display: grid;
    grid-template-columns: 50% auto;
    justify-items: stretch;
    align-items: stretch;
    justify-content: stretch;
}

.college {
    text-align: center;
    font-weight: bolder;
    font-size: 0.8em;
    color: grey;
    padding: 20pt 0 0 0;
    font-size: 8pt;
}

.brief {
    font-size: 10pt;
    grid-column-start: 1;
    text-align: justify;
    /* padding: 0 10px; */
    /* background-color: green; */
}

#ani-control {
    background-color: rgba(255, 194, 80, 0.445);
    padding: 5pt;
}

#ani-control p {
    padding: 0;
    margin: 0;
}

.author-block {
    text-align: center;
    /* color: green; */
    grid-column-start: 2;
}

.author-block p {
    font-size: 10pt;
    margin: 2pt 0;
    padding: 0;
}

#author {
    font-size: 8pt;
    font-weight: bold;
    text-transform: uppercase;
}

#name {
    font-size: 12pt;
}

#author-links {
    vertical-align: middle;
    margin-bottom: 5pt;
}

#chart-tip {
    font-size: 8pt;
    font-weight: 700;
    color: #616161;
}

#temperature {
    grid-column-start: 1;
    grid-column-end: 2;
}

#humidity {
    grid-column-start: 2;
    grid-column-end: 3;
}
#pressure {
    grid-column-start: 1;
    grid-column-end: 2;
}
#forex {
    grid-column-start: 2;
    grid-column-end: 3;
}

#credit {
    font-size: 8pt;
    text-align: center;
    margin: 10pt 0;
}

.portfolio-link {
    margin-right: 13px;
    margin-left: 15px;
    padding: 0px 3px;
    border: 2px solid #0077b5;
    color: #0077b5;
    font-size: 10px;
    line-height: 16px;
    font-weight: 800;
    text-decoration: none;
}

.portfolio-link:hover {
    background-color: #0077b5;
    color: #fff;
}

.repo-link {
    padding: 0px 3px;
    border: 2px solid black;
    color: black;
    font-size: 10px;
    line-height: 16px;
    font-weight: 800;
    text-decoration: none;
}

.repo-link:hover {
    background-color: black;
    color: #fff;
}

.image {
    width: 20px;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}




canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

#contenu {
    position: relative;
    z-index: 2;
}






/* Smaller than tablets should display the following properties */
@media only screen and (max-width: 770px) {
    .grid1 {
        grid-template-columns: 100%;
    }
    .author-block {
        grid-column-start: 1;
        margin-top: 10pt;
    }

    #temperature, #humidity, #pressure, #forex {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}
